<main>
    <h1 class="page-title">Kartvizitler</h1>
    <p class="page-description">
        Kartvizit yönetim ekranı.
    </p>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Selçuk Yazıcı</mat-card-title>
                      <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>
            </div>
        </div>
    </div>
</main> 